
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="px-4 py-4 border rounded" style="width: 360px;">
        <form action="" method="POST"> {% csrf_token %}
            <div class="my-4">
                <h3>Change Password</h3>
                <span class="font-weight-normal text-muted font-weight-bold">Replace old password</span>
            </div>
            {{form|crispy}}
            <button type="submit" class="btn btn-primary btn-block mt-4">Change password</button>
        </form>
    </div>
{% endblock content %}
